html {
  min-height 100%
}
* {
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box
}
body {
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  font-family typeface-primary
  background color-background
  color color-text
}
img {
  max-width: 100%;
}
.Logo {
  width: 7rem;
  height: 1.5rem;
  background-image: url("http://cdn2.dropmark.com/39456/09169b4ae838f68c4071acf55fdd82eb134839fc/canlislogo.svg");
  background-repeat: no-repeat;
  text-indent: -9999999px;
  background-size: 100%;
  display: block;
  border: none; 
  position: absolute;
  top: 4vw;
  left: 4vw;
  color: color-background;
  text-align: center;
}
.GlobalNav {
  position: absolute;
  top: 0vw;
  padding-top: calc(4vw + 8px);
  padding-right: 4vw;
  right: 0vw;
  z-index: 9999999;
}
.GlobalNavToggle {
  text-align: right;
  cursor: pointer;
}
.GlobalNav ul {
  //height: 0px;
  //overflow: hidden;
  //transition: all 100ms ease-out;
  //margin-top: 2rem;
}
.GlobalNav li, .GlobalNav li a {
  border: 0px;
  text-align: right;
  transition: 200ms all ease-out;
}
.GlobalNav li a {
  border-bottom: 1px solid color-background;
}
.GlobalNav li a:hover {
  border-bottom: 1px solid color-gold;
}
.SocialNav {
  margin-top: 1rem;
}
.SocialNav li {
  float: right;
}
.SocialNav li a {
  width: 22px;
  height: 22px;
  background-size: 97%;
  background-repeat: no-repeat;
  text-indent: 99999px;
  display: block;
  margin-left: .5rem;
  transition: opacity 200ms ease-out;
}
.SocialNav li a:hover {
  opacity: .5;
  border-bottom: none;
}
.SocialNav li a.Twitter {
  background-image: url("http://cdn2.dropmark.com/39456/8d64ff48f9e52a330d698b17e8ac32aea79bbbf0/icon_twitter.png")
}
.SocialNav li a.Instagram {
  background-image: url("http://cdn2.dropmark.com/39456/a0bc1cf323fb4f99e3cc26ea49d7851d819dfc0c/icon_instagram.png")
}

// GENERAL

.column.FirstThing {
  margin-top: 40vh;
}

// FOOTER

.GlobalFooter {
  margin-top: 8vw;
  margin-bottom: 8vw;
}
.GlobalFooter a {
  border: none;
}
.FooterLine {
  background: color-text;
  height: 6px;
  width: 200px;
}

