.row {
  margin: 5vw;
}
// .column {
//   margin: 1vw;
// }
.col-md-offset-2 {
  margin-left: 8.3333333%
}


// ADDS MARGIN BELOW COLUMNS THAT ARE FORCED TO FULL WIDTH ON MOBILE

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
  margin-bottom 9vw
  @media laptop
    margin-bottom 0px
    
.nested.col-md-1,
.nested.col-md-2,
.nested.col-md-3,
.nested.col-md-4,
.nested.col-md-5,
.nested.col-md-6,
.nested.col-md-7,
.nested.col-md-8,
.nested.col-md-9,
.nested.col-md-10,
.nested.col-md-11,
.nested.mb5
  margin-bottom 4vw
  @media laptop
    margin-bottom unit2

.column
.col-xs-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  
.row
  padding 2vw 4vw
  overflow visible
  z-index 10
  margin-left 0px 
  margin-right 0px

// .column.nested{
//   margin: 0px;
//   padding: 0px;
// }
    
.column
  .row
    padding 0 !important
  

// .column
//   overflow-y visible
//   margin-bottom 11vw
//   // &:last-of-type
//   //  margin-bottom 0px
//   @media laptop
//     margin-bottom 0px
    