.PrivateEventsHeadline {
  margin-top: 25vh;
}

.PrivateEventsPhoto1 {
  position: absolute; 
  width: 45vw;
  top: -5vw;
  left: 35vw;
  z-index: 0;
}
.PrivateEventsPhoto2 {
  position: absolute; 
  width: 45vw;
  top: 40vw;
  left: 45vw;
  z-index: 0;
}

// STORY

// .YoungPeter0 {
//   width: 90%;
//   margin-left: 10%;
// }
.YoungPeter1 {
  width: 190%;
  max-width: 190%;
  transform: rotate(-5deg);
  margin-left: -50%;
}
.YoungPeter2 {
  width: 160%;
  max-width: 160%;
  transform: rotate(5deg);
  margin-left: -20%;
  margin-top: 60%;
  z-index: 9999;
  position: relative;
  box-shadow: 6px 6px 76px 0px rgba(0,0,0,0.2);
}
.YoungPeter3 {
  width: 110%;
  max-width: 110%;
  transform: rotate(12deg);
  margin-left: -10%;
}
.SeattleReveal {
  margin-left: -10%;
  width: 128%;
  max-width: 128%;
}
.SeattleFrontDoor {
  width: 120%;
  max-width: 120%;
  transform: rotate(7deg);
  margin-left: -30%;
}
.SeattlePeterEating {
  width: 130%;
  max-width: 130%;
  transform: rotate(-9deg);
  margin-left: -40%;
}
.SeattleMiddle {
  width: 75%;
  max-width: 75%;
  transform: rotate(-5deg);
  margin-left: -50%;
  margin-top: -170%;
  z-index: 9999;
  position: relative;
}
.SeattleEnd {
  width: 110%;
  max-width: 110%;
  transform: rotate(7deg);
  margin-left: 10%;
  margin-top: -100%;
}
.SeattleEndText {
  margin-top: 5vw;
}
// .SeattleRevealText {
//   max-width: 30%;
//   margin-right: 3%;
// }