// PEOPLE

.PeopleHeadline {
  margin-left: -5%;
  margin-top: 7vw;
}
.Portrait {
  max-width: 10000000px;
}
.Portrait.Mark {
  width: 120%;
}
.Portrait.Brian {
  width: 120%;
  margin-left: -20%;
}
.PortraitCard {
  background: color-background;
  padding: 5vw 5vw 2vw 5vw;
  margin-top: 15vw;
  margin-left: -10%;
  position: relative;
  z-index: 99999;
}
.PortraitCard:nth-child(2) {
  margin-left: 10%;
}
.KitchenWideShot {
  background-image: url(https://ashleyzharper.files.wordpress.com/2014/10/screen-shot-2014-10-04-at-9-54-42-am.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 110vh;
  background-position: center center;
  margin-top: -2vw;
}
.LinkToStory {
  border-color: #ccc;
  border-weight: 1px;
  border-top: 1px;
  border-bottom: 1px;
  padding: 10vw 0;
  text-align: center;
}

// PRIVATE EVENTS

.PrivateEventsHeadline {
  margin-top: 15vh;
  margin-bottom: -4vw;
  margin-left: 5%;
}
.PrivateEventsPhoto1 {
  position: absolute; 
  width: 35vw;
  top: 15vw;
  left: -10vw;
  z-index: 0;
  display: none;
}
.PrivateEventsPhoto2 {
  position: absolute; 
  width: 55vw;
  top: 15vw;
  left: -10vw;
  z-index: 0;
}
.PrivateEventsPhoto3 {
  position: relative;
  width: 230%;
  max-width: 230%;
  margin-left: -65vw;
}
.PrivateEventsPhoto4 {
  position: relative;
  width: 150%;
  max-width: 150%;
  margin-right: -53vw;
}
.PrivateEventsPhoto5 {
  position: relative;
  width: 160%;
  max-width: 160%;
  margin-left: -30vw;
}
.PrivateEventsPhoto6 {
  position: relative;
  width: 170%;
  max-width: 170%;
  margin-right: -53vw;
}
.PrivateEventsOutro {
  margin: 15vw 5vw;
}

// STORY

.YoungPeter1 {
  width: 190%;
  max-width: 190%;
  transform: rotate(-5deg);
  margin-left: -50%;
}
.YoungPeter2 {
  width: 160%;
  max-width: 160%;
  transform: rotate(5deg);
  margin-left: -20%;
  margin-top: 60%;
  z-index: 9999;
  position: relative;
  box-shadow: 6px 6px 76px 0px rgba(0,0,0,0.2);
}
.YoungPeter3 {
  width: 110%;
  max-width: 110%;
  transform: rotate(12deg);
  margin-left: -10%;
}
.SeattleReveal {
  margin-left: -10%;
  width: 128%;
  max-width: 128%;
}
.SeattleFrontDoor {
  width: 120%;
  max-width: 120%;
  transform: rotate(7deg);
  margin-left: -30%;
}
.SeattlePeterEating {
  width: 130%;
  max-width: 130%;
  transform: rotate(-9deg);
  margin-left: -40%;
}
.SeattleMiddle {
  width: 75%;
  max-width: 75%;
  transform: rotate(-5deg);
  margin-left: -50%;
  margin-top: -170%;
  z-index: 9999;
  position: relative;
}
.SeattleEnd {
  width: 110%;
  max-width: 110%;
  transform: rotate(7deg);
  margin-left: 10%;
  margin-top: -100%;
}
.SeattleEndText {
  margin-top: 5vw;
}


// MENU

.MenuHeadline {
  margin-left: -5%
}
.DinnerPlates {
  background-image: url(_img/plate.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 40vw;
  width: 40vw;
  box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.05);
  border-radius: 1000000px;
}
.DinnerPlate1 {
  width: 22vw;
  height: 22vw;
  margin-top: 30%;
  margin-left: -8vw;
}
.DinnerPlate2 {
  width: 36vw;
  height: 36vw;
  bottom: -30vw;
  margin-left: -10vw;
}
.DinnerPlate3 {
  width: 32vw;
  height: 32vw;
  margin-top: 5%;
  margin-left: -75%;
}
.DinnerPlate4 {
  width: 29vw;
  height: 29vw;
  bottom: -40vw;
  margin-left: 0vw;
}
.DinnerPlate5 {
  width: 37vw;
  height: 37vw;
  top: -5vw;
  margin-left: -15vw;
}
.DinnerPlate6 {
  width: 24vw;
  height: 24vw;
  bottom: -25vw;
  margin-left: 0vw;
}
.DinnerPlate7 {
  width: 40vw;
  height: 40vw;
  bottom: -5vw;
  margin-left: 0vw;
}
.DinnerPlate8 {
  width: 40vw;
  height: 40vw;
  bottom: -5vw;
  margin-left: -18vw;
}

// WINE

.WineHeadline {
  margin-top: 18vh;
  margin-bottom: 5vw;
  margin-left:25%;
}

/// MISC

.BigPlaceholderSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #ccc;
  text-align: center;
  align-items: center;
  margin-bottom: 1px;
}
.BigPlaceholderSection p {
  text-align: center;
  width: 100%;
}
.BigPlaceholderSection.Small {
  height: 50vh;
}







