// TYPE

typeface-primary= "GTSectraTrialBook", Arial, sans-serif
typeface-secondary= "GTSectraDisplayTrialLight", Georgia, serif
typeface-secondary-italic= "GTSectraDisplayTrialLightItalic", Georgia, serif
typeface-tertiary= "ApercuMono", Andale Mono, monospaced

// COLORS

color-background= #F2F1EF
color-text= #272320
color-brown= #a36b50
color-darkbrown= #201D1B
color-darkgrey= #404041
color-creme= #F8F5F0
color-gold= #bf9b30

// BREAKPOINTS (matches flexboxgrid)

phone=	"(min-width: 30em)"
tablet=	"(min-width: 48em)"
laptop=	"(min-width: 62em)"
desktop=	"(min-width: 75em)"
bigscreen=	"(min-width: 90em)"

// SPACING UNITS

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=		96px
unit13=		104px
unit14=		112px
unit15=		120px
