.WineQuickList li {
  margin-bottom: unit2;
  overflow: auto;
}
.WineQuickList .WineTitle {
  float: left;
  width: 70%;
}
.WineQuickList .WinePrice {
  float: right;
  width: 30%;
  text-align: right;
}
.WineByTheGlass li {
  margin-bottom: unit2;
  overflow: auto;
}
.WineByTheGlass .WineInfo {
  float: left;
  width: 80%;
}
// .WineByTheGlass .WineSecondary{
//   display: block;
// }
.WineByTheGlass .WineSecondary:before {
  content: "•";
  margin-right: .5rem;
  margin-left: .5rem;
}
.WineByTheGlass .WineDesc {
  display: block;
  width: 100%;
}
.WineByTheGlass .WinePrices {
  float: right;
  width: 20%;
  text-align: right;
}
.WineByTheGlass .WinePrices .WinePriceGlass {
  width: 50%;
  display: block;
  float: left;
}
.WineByTheGlass .WinePrices .WinePriceBottle {
  width: 50%;
  display: inline-block;
  float: left;
}
.WineByTheGlass .WinePrice {
}
