<footer class="GlobalFooter">
  <div class="row">
    <div class="column col-xs-12 col-md-4">  
      <p class="Caption mb5">ADDRESS</p>
      <h1 class="Display2">2576 Aurora Ave. N
Seattle, WA 98109</h1>
    </div>
    <div class="column col-xs-12 col-md-4">
      <p class="Caption mb5">Attire</p>
      <p>We are a dressy, fine dining restaurant and we ask that gentlemen wear a suit or sport coat if possible. We ask that shorts, hats, athletic apparel, and casual attire not be worn.</p>
    </div>
    <div class="column col-xs-12 col-md-2">
      <p class="Caption mb5">FOR RESERVATIONS</p>
      <p class="Caption">CALL (206) 283-3313<br>OR ONLINE HERE.</p>
    </div>
    <div class="column col-xs-12 col-md-2">
      <p class="Caption mb5">HOURS</p>
      <p class="Caption">MONDAY - SATURDAY<br>5:30 - 10PM</p>
    </div>
  </div>
</footer>

<script src="/assets/master.js"></script>

</body>
</html>

     <!--  <p class="Caption mt3"><a href="giftcards" class="NoLine">Gift Cards</a> / <a href="awards" class="NoLine">Awards</a> / <a href="careers" class="NoLine">Careers</a></p> -->