<footer class="GlobalFooter mt8">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <div class="FooterLine mb5"></div>
      <p class="LabelText mt4 mb5">FOR RESERVATIONS<Br>
      CALL <a href="tel:2062833313">(206) 283-3313</a><br>
      OR ONLINE <a href="">HERE</a>.
      </p>
      <p class="LabelText mb5">MONDAY - SATURDAY<Br>
      5:30 - 10PM
      </p>
      <p class="LabelText mb5"><a href="https://www.google.com/maps/place/Canlis/@47.643089,-122.3467808,15z/data=!4m5!3m4!1s0x0:0xd1009d4ff183b6c6!8m2!3d47.643089!4d-122.3467808" target="_blank" class="NoLine">2576 AURORA AVE N,<Br>
      SEATTLE, WA 98109</a>
      </p>
      <p class="LabelText">Attire</p>
      <p>We are a dressy, fine dining restaurant and we ask that gentlemen wear a suit or sport coat if possible. Specifically, we ask that shorts, hats, athletic apparel, and casual attire like worn or faded denim or casual t-shirts not be worn.</p>
      <p class="LabelText mt3"><a href="giftcards" class="NoLine">Gift Cards</a> / <a href="awards" class="NoLine">Awards</a> / <a href="careers" class="NoLine">Careers</a></p>
    </div>
  </div>
</footer>

  <script src="/assets/master.js"></script>

</body>
</html>