<!DOCTYPE html>
<html>
<head>
   <title>Canlis</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="/assets/master.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script src="/assets/master.js"></script>
</head>
<body>
<a href="/" class="Logo mb10 Caption">Logo</a>
<div class="GlobalNav Unselectable">
  <!-- <div class="GlobalNavToggle Caption Unselectable">Menu +</div> -->
  <ul class="Open">
    <li class="Caption"><a href="/story">Story</a></li>
    <li class="Caption"><a href="/people">People</a></li>
    <li class="Caption"><a href="/menu">Dinner</a></li>
    <li class="Caption"><a href="/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a href="/events">Private Events</a></li>
    <li class="Caption"><a href="http://www.opentable.com/canlis-reservations-seattle" target="_blank">Reservations</a></li>
  </ul>
  <ul class="SocialNav">
    <li><a href="http://twitter.com/canlis" target="_blank" class="Twitter">Twitter</a></li>
    <li><a href="http://instagram.com/canlisrestaurant" target="_blank" class="Instagram">Instagram</a></li>
  </ul>
</div>