<!DOCTYPE html>
<html>
<head>
   <title>Canlis</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="/assets/master.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<a href="/" class="Logo mb10 Caption">Logo</a>
<div class="GlobalNav Unselectable">
  <div class="GlobalNavToggle Caption Unselectable">Menu +</div>
  <ul class="Open">
    <li class="Caption"><a href="/story">Story</a></li>
    <li class="Caption"><a href="/people">People</a></li>
    <li class="Caption"><a href="/menu">Dinner</a></li>
    <li class="Caption"><a href="/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a href="/events">Private Events</a></li>
    <li class="Caption"><a href="https://canlis.tocktix.com/">Reservations</a></li>
  </ul>
  <!-- <p>—</p>
  <p class="mb5">Reservations:<br> <a href="tel:2062833313">(206) 283-3313</a><br>or <a href="http://www.opentable.com/canlis" target="_blank">online</a>.</p>
  <p class="mb5">Monday-Saturday<br> 5:30 - 10pm</p>
  <p class="mb5"><a href="https://www.google.com/maps?q=canlis&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjyqLrnvffNAhUM82MKHa73APkQ_AUICCgB">Directions</a></p> -->
</div>