{% include head.html %}


<div class="row Intro">
  <div class="column col-xs-12 col-md-6">
    <h1>For 65 years our guests have trusted our storied restaurant with the most important nights of their lives. </h1>
    <p class="mt3"><a class="NoLine" href="https://canlis.tocktix.com/" target="_blank"><button class="PrimaryCTA">Make a reservation</button></a></p>
  </div>
</div>
<div class="IntroFiller"></div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">Exterior, Wide Shot</div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <p class="Caption op50">The Space</p>
    <h1>Though evolving over the years, the storied space designed by Roland Terry in 1950 continues to delight guests from all over the world with it’s natural light and beautiful views of Lake Union just below.</h1>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_rect.svg">
    <div class="PhotoDesc Caption">Brady In The Kitchen</div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <p class="Caption op50">In The Kitchen</p>
    <h1>Executive Chef Brady Williams joined Canlis in the summer of 2015. He brings his Japanese roots to Canlis’ classic Eastern influences.</h1>
    <p class="mt3"><a class="NoLine" href="people"><button class="PrimaryCTA">Meet our people</button></a></p>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_rect.svg">
    <div class="PhotoDesc Caption">FOOD, FEATURED ITEM</div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <p class="Caption op50">The Food</p>
    <h1>A midwinter tasting menu incorporated sashimi-like slices of amberjack with tiny explosions of finger lime; one briny oyster garnished with tart apple.</h1>
    <p class="mt3"><a class="NoLine" href="foodanddrink"><button class="PrimaryCTA">See the Menu</button></a></p>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">FOOD, CLOSE UP</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">GUESTS AT A TABLE LAUGHING</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">FOOD, SHOT ABOVE</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">COUPLE AT THE BAR</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">FOOD, CLOSE UP</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">FOOD, CLOSE UP BEING PREPARED</div>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_square.svg">
    <div class="PhotoDesc Caption">WIDE SHOT OF THE DINING ROOM</div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <p class="Caption op50">Gift Cards</p>
    <h1>Give the gift of a night they'll never forget. Order gift cards online or have them sent to a loved one, friend, or colleague.</h1>
    <p class="mt3"><a class="NoLine" href="giftcards"><button class="PrimaryCTA">BUY A GIFT CARD</button></a></p>
  </div>
</div>
<div class="PhotoContainer">
  <div class="PhotoSingle Full">
    <img src="http://new.canlis.com/uploads/imgplaceholder_rect.svg">
    <div class="PhotoDesc Caption">GIFT CARDS</div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <h1>Of the many ways to serve, care for, restore, and celebrate someone, cooking is the most easily received of all gifts. Let us break bread together —<Br><br>We’ll bring the bread.</h1>
  </div>
</div>

{% include footer.html %}
