{% include head.html %}
<div class="row Intro">
  <div class="column col-xs-12 col-md-3">
    <div class="DinnerPlates DinnerPlate1"></div>
  </div>
  <div class="column col-xs-12 col-md-8">
    <h1 class="mb10 Display1 mt10 MenuHeadline">
      &nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor&nbsp;amet,<br>&nbsp;<i>consectetur&nbsp;adipiscing.</i>&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quisque&nbsp;mi&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mi,&nbsp;tempor.
    </h1>
  </div>
  <div class="column col-xs-12 col-md-1">
    <div class="DinnerPlates DinnerPlate2"></div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-3">
    <div class="DinnerPlates DinnerPlate3"></div>
  </div>
  <div class="column col-xs-12 col-md-8">
    <div class="row">
      {% for i in page.mealtypes %}
      <div class="column nested col-xs-12 col-md-6">
        <p class="Caption">{{ i.title }} / {{ i.price }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="column col-xs-12 col-md-12">
        <h2 class="Display2 mb10">Tasting Menu Pairings</h2>
      </div>
      {% for i in page.tastingmenupairings %}
      <div class="column nested col-xs-12 col-md-6">
        <p class="Caption">{{ i.title }} / {{ i.price }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
    </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-8 col-md-offset-1">
    <div class="row">
      <div class="column col-xs-12">
        <h2 class="Display2 mb10">First & Second Courses</h2>
      </div>
      {% for i in page.firstandsecondcourses %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p class="Caption">{{ i.title }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="column col-xs-12 col-md-2">
    <div class="DinnerPlates DinnerPlate4"></div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4">
    <div class="DinnerPlates DinnerPlate5"></div>
    <div class="DinnerPlates DinnerPlate6"></div>
  </div>
  <div class="column col-xs-12 col-md-8">
    <div class="row">
      <div class="column col-xs-12">
        <h2 class="Display2 mb10">Main Courses</h2>
      </div>
      {% for i in page.maincourses %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p class="Caption">{{ i.title }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
      <div class="column col-xs-12">
        <h2 class="Display2 mb10 mt4">Additions</h2>
      </div>
      {% for i in page.additions %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p class="Caption">{{ i.title }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-8">
    <div class="row">
      <div class="column col-xs-12">
        <h2 class="Display2 mb10">Desserts</h2>
      </div>
      {% for i in page.desserts %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p class="Caption">{{ i.title }}</p>
        <p>{{ i.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="DinnerPlates DinnerPlate7"></div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4">
    <div class="DinnerPlates DinnerPlate8"></div>
  </div>
  <div class="column col-xs-12 col-md-8">
    <div class="row">
      <div class="column col-xs-12">
        <h2 class="Display2 mb10">Tasting Menu</h2>
      </div>
      {% for i in page.tastingmenu %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p class="Caption">{{ i.title }}</p>
        <p>{{ i.desc }}<Br><i>{{ i.wine }}</i></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="column col-xs-12 col-md-12">
    <h2>Wine & Spirits</h2>
    <p>For more information about our extensive wine list and award winning bar, visit Wine & Spirits</p>
  </div>
</div> -->
{% include footer.html %}