{% include head.html %}

<div class="row">
  <div class="column col-xs-12 col-md-7 FirstThing">
    <h1 class="mb10 Display1">{{ page.headline }}</h1>
  </div>
</div>

<div class="row">
  {% for person in page.persons %}
    <div class="column col-xs-12 col-md-6">
    <img class="mb5" src="{{ person.photo }}">
    </div>
    <div class="column col-xs-12 col-md-6">
      <p class="Caption mb5">{{ person.title}}</p>
      <p class="Display2">{{ person.name }}</p>
      {{ person.bio | markdownify }}<Br><Br> 
    </div>
  {% endfor %}
</div>

{% include footer.html %}
