{% include head.html %}

<div class="row Intro">
  <div class="column col-xs-12 col-md-5 col-md-offset-3">
    <h1 class="mb10 Display1 PeopleHeadline">
&nbsp;&nbsp;<i>Canlis</i>&nbsp;is&nbsp;our&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;family&nbsp;name.
Welcome&nbsp;&nbsp;to&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;our&nbsp;home.
    </h1>
  </div>
</div>

<!-- <div class="row">
  {% for person in page.persons %}
    <div class="column col-xs-12 col-md-6">
    <img class="mb5" src="{{ person.photo }}">
    </div>
    <div class="column col-xs-12 col-md-6">
      <p class="Caption mb5">{{ person.title}}</p>
      <p class="Display2">{{ person.name }}</p>
      {{ person.bio | markdownify }}<Br><Br> 
    </div>
  {% endfor %}
</div> -->
<!-- <div class="KitchenWideShot"></div>
 --><div class="row">
    <div class="column col-xs-12 col-md-7">
    <img class="mb5 Portrait Mark" src="https://s-media-cache-ak0.pinimg.com/736x/2d/5d/b6/2d5db65e508a76e4256a1b4bf9c6b553.jpg">
    </div>
    <div class="column col-xs-12 col-md-5">
      <div class="PortraitCard">
        <p class="Caption mb2">Owner</p>
        <p class="Display2">Mark Canlis</p>
        <p>The second of three sons, Mark grew up in a restaurant family. When he officially joined Canlis in 2003, he had already graduated from Cornell University, served as a Captain in Air Force Special Operations, and worked in nearly a dozen restaurants across the country. He met his wife, Anne Marie, while working for famed restaurateur Danny Meyer in opening Danny’s fifth restaurant, Blue Smoke, in Manhattan. Returning to Seattle, Mark spearheaded the effort towards generational transfer and brand modernization that has garnered the family business national acclaim as one of the finest restaurants in America.  He now owns and operates Canlis restaurant with his brother, Brian.</p>
        <p>He and Anne Marie reside on Queen Anne with their three children.</p>
      </div>
    </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="PortraitCard">
      <p class="Caption mb2">Owner</p>
      <p class="Display2">Brian Canlis</p>
      <p>The second of three sons, Mark grew up in a restaurant family. When he officially joined Canlis in 2003, he had already graduated from Cornell University, served as a Captain in Air Force Special Operations, and worked in nearly a dozen restaurants across the country. He met his wife, Anne Marie, while working for famed restaurateur Danny Meyer in opening Danny’s fifth restaurant, Blue Smoke, in Manhattan. Returning to Seattle, Mark spearheaded the effort towards generational transfer and brand modernization that has garnered the family business national acclaim as one of the finest restaurants in America.  He now owns and operates Canlis restaurant with his brother, Brian.</p>
      <p>He and Anne Marie reside on Queen Anne with their three children.</p>
    </div>
  </div>
  <div class="column col-xs-12 col-md-7">
    <img class="mb5 Portrait Brian" src="https://static1.squarespace.com/static/56f06f0a62cd946e04a2c55e/t/5702d1d2d51cd411818b3f59/1459802607874/Jeff+Nichols">
  </div>
</div>
<div class="row">
    <div class="column col-xs-12 col-md-7">
    <img class="mb5 Portrait Mark" src="https://s-media-cache-ak0.pinimg.com/736x/e6/99/04/e69904852f5c1709af5f167b9d935b08.jpg">
    </div>
    <div class="column col-xs-12 col-md-5">
      <div class="PortraitCard">
        <p class="Caption mb2">Executive Chef</p>
        <p class="Display2">Brady Williams</p>
        <p>The second of three sons, Mark grew up in a restaurant family. When he officially joined Canlis in 2003, he had already graduated from Cornell University, served as a Captain in Air Force Special Operations, and worked in nearly a dozen restaurants across the country. He met his wife, Anne Marie, while working for famed restaurateur Danny Meyer in opening Danny’s fifth restaurant, Blue Smoke, in Manhattan. Returning to Seattle, Mark spearheaded the effort towards generational transfer and brand modernization that has garnered the family business national acclaim as one of the finest restaurants in America.  He now owns and operates Canlis restaurant with his brother, Brian.</p>
        <p>He and Anne Marie reside on Queen Anne with their three children.</p>
      </div>
    </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="PortraitCard">
      <p class="Caption mb2">Director of Service</p>
      <p class="Display2">Kyle Johnson</p>
      <p>The second of three sons, Mark grew up in a restaurant family. When he officially joined Canlis in 2003, he had already graduated from Cornell University, served as a Captain in Air Force Special Operations, and worked in nearly a dozen restaurants across the country. He met his wife, Anne Marie, while working for famed restaurateur Danny Meyer in opening Danny’s fifth restaurant, Blue Smoke, in Manhattan. Returning to Seattle, Mark spearheaded the effort towards generational transfer and brand modernization that has garnered the family business national acclaim as one of the finest restaurants in America.  He now owns and operates Canlis restaurant with his brother, Brian.</p>
      <p>He and Anne Marie reside on Queen Anne with their three children.</p>
    </div>
  </div>
  <div class="column col-xs-12 col-md-7">
    <img class="mb5 Portrait Brian" src="https://s-media-cache-ak0.pinimg.com/originals/d2/5a/66/d25a669b07c2d549d591b691ee1aa15b.jpg">
  </div>
</div>
<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory">
      <h2 class="Display1"><a href="/story">Read our whole story.</a></h2>
    </div>
  </div>
</div>

{% include footer.html %}
