{% include head.html %}

<div class="row">
  <div class="column col-xs-12 col-md-7 PrivateEventsHeadline">
    <h1 class="mb10 Display1">

Seattle's&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;premiere&nbsp;private&nbsp;
&nbsp;&nbsp;&nbsp;dining&nbsp;suites.&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It&nbsp;doesnt&nbsp;get
&nbsp;&nbsp;&nbsp;better&nbsp;than&nbsp;this.


    </h1>
    <p><img class="PrivateEventsPhoto1" src="{{ page.intro.photo1 }}"></p>
    <p><img class="PrivateEventsPhoto2" src="{{ page.intro.photo2 }}"></p>
  </div>
</div>

<div class="row">
  <div class="column col-xs-12 col-md-12">
    {% for person in page.persons %}
      <p><img src="{{ person.photo }}"></p>
      <p>{{ person.name }}</p>
      <p>{{ person.title}}</p>
      {{ person.bio | markdownify }}<Br><Br>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <p><img src="{{ page.intro.photo3 }}"></p>
  </div>
  <div class="column col-xs-12 col-md-6">
    <p class="Caption mb5">INTRODUCTION</p>
    {{ page.intro.desc | markdownify}}
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <h2 class="Display1 mb5">{{ page.cache.title }}</h2>
    <p class="Caption mb5">{{ page.cache.capacity }}</p>
    {{ page.cache.desc | markdownify}}
  </div>
  <div class="column col-xs-12 col-md-7">
    <p><img src="{{ page.cache.photo }}"></p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-7">
    <p><img src="{{ page.executiveroom.photo }}"></p>
  </div>
  <div class="column col-xs-12 col-md-5">
    <h2 class="Display1 mb5">{{ page.executiveroom.title }}</h2>
    <p class="Caption mb5">{{ page.executiveroom.capacity }}</p>
    {{ page.executiveroom.desc | markdownify}}
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <h2 class="Display1 mb5">{{ page.penthouse.title }}</h2>
    <p class="Caption mb5">{{ page.penthouse.capacity }}</p>
    {{ page.penthouse.desc | markdownify}}
  </div>
  <div class="column col-xs-12 col-md-7">
    <p><img src="{{ page.penthouse.photo }}"></p>
  </div>
</div>
<div class="row mb10 mt10">
  <div class="column col-xs-12 col-md-6 col-md-offset-2">
    <h2 class="Display1">{{ page.outro.headline }}</h2>
  </div>
  <div class="column col-xs-12 col-md-4">
    {{ page.outro.desc | markdownify}}
  </div>
</div>

{% include footer.html %}
