{% include head.html %}
<!-- <script>
  $("body").addClass("Invert");
  console.log("story layout loaded")
</script> -->
<div class="row Intro">
  <div class="column col-xs-12 col-md-10 col-md-offset-2">
    <h1 class="Display1 mt10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;story&nbsp;that&nbsp;
goes&nbsp;back
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;more&nbsp;than&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>three&nbsp;generations</i>
&nbsp;&nbsp;&nbsp;through&nbsp;war,&nbsp;feast&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and&nbsp;famine.</h1>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4 col-md-offset-1">
    <p class="Caption mb5">WRITTEN BY ANY COMER<br>
    WORDS FROM MARK & BRIAN CANLIS</p>
    <p>In the late 1939, Peter Canlis struck out on his own, leaving his parents' restaurant in Stockton, California. </p>
    <p>His father, Nick Canlis, was a Greek immigrant who served as cook for Teddy Roosevelt during the President's 1909 one year African safari. Eventually, he reached Ellis Island with an Egyptian passport. Together, they opened the first-generation Canlis restaurant.</p>
    <p>During World War II, Peter's knowledge of food and his shrewd purchasing skills led to an offer to manage the United Services Organization’s Honolulu food service operations. Soon everyone on Oahu knew that the best meal to be had in Hawaii was at the USO. After the war, Peter remained in Hawaii and opened his first restaurant, The Broiler, a ten-table sidewalk restaurant in Waikiki. In 1950, Peter Canlis moved to Seattle and opened the restaurant that was to put his mark on the nation’s fine dining scene.</p> <!-- He chose a magnificent view location just three miles north of the city center, and, with characteristic vision, hired up-and-coming architect Roland Terry to make his vision a reality. Terry is now widely known as the father of Northwest architecture; his sweeping and timeless design.</p> --> 
  </div>
  <div class="column col-xs-12 col-md-5 col-md-offset-1 ">
    <p><img class="YoungPeter0" src="/assets/_img/story_01.jpg"></p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4">
    <p><img class="YoungPeter1" src="/assets/_img/story_03.jpg"></p>
  </div>
  <div class="column col-xs-12 col-md-4">
    <p><img class="YoungPeter2" src="/assets/_img/story_04.jpg"></p>
  </div>
  <div class="column col-xs-12 col-md-4">
    <p><img class="YoungPeter3" src="/assets/_img/story_02.jpg"></p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5 col-md-offset-1">
    <p><img class="Honolulu1 mb5" src="/assets/_img/honolulu1.jpg"></p>
    <p><img class="Honolulu1" src="/assets/_img/honolulu2.jpg"></p>
  </div>
  <div class="column col-xs-12 col-md-5">
    <p class="Caption">Hawaiian beginnings</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit justo, imperdiet eu nulla at, hendrerit tincidunt quam. Nullam id enim porttitor, placerat libero ac, sollicitudin ante. Donec vitae metus non ipsum fringilla facilisis ac at mi. Aliquam tincidunt sapien vitae felis pretium semper. Nam accumsan nunc nulla, quis faucibus felis gravida et. Duis scelerisque eros vel lacinia sagittis. Nunc lobortis mollis pretium. Etiam quis leo id lorem euismod vehicula in ultricies neque. Maecenas ut imperdiet dolor, sit amet mollis sem. Quisque elementum vel ligula vel scelerisque. Aliquam pulvinar, sapien luctus aliquet semper, nisi nisi vulputate neque, ac vulputate eros lectus eget ante. Maecenas eu sagittis quam, cursus tincidunt augue.
    </p>
    <p>
    In ornare volutpat nisl, ac dapibus elit ullamcorper id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet massa vitae egestas vulputate. Integer malesuada ultrices efficitur. Maecenas velit sapien, luctus a pellentesque eget, pellentesque ut nunc. Nulla ut purus id libero vulputate tempor. Phasellus sed ante vitae elit mattis luctus. Aenean id molestie odio. Fusce consequat pellentesque ultricies. Mauris pulvinar turpis porttitor dapibus luctus. Vestibulum tellus libero, faucibus ac molestie vel, sollicitudin at erat. Duis vel nibh et velit fermentum molestie. Duis aliquam ullamcorper metus non sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque imperdiet dui elit, tempor posuere augue condimentum ut.
    </p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4 col-md-offset-1 SeattleRevealText">
    <p class="Caption">Canlis opens in Seattle</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu lobortis arcu. Etiam vitae semper risus, nec luctus nisl. Etiam fringilla ipsum mauris, ut tincidunt metus mattis ac. Mauris mattis cursus enim sed blandit. Nullam facilisis ipsum in lectus viverra tempor. Proin finibus gravida lacinia. Nam eget lacus at nibh porta sagittis eu quis ligula. Nunc in pretium enim. Praesent malesuada quam risus, vitae commodo felis semper a. Sed eget faucibus sem, a aliquam purus. Nunc ut hendrerit ligula. In ligula nibh, mollis sit amet eleifend ut, consectetur eu libero. Nam porta diam diam, vitae efficitur augue porttitor a. Quisque id vehicula ante. Aliquam ullamcorper nisl sem, at iaculis sem dictum in. Morbi convallis vulputate metus vitae sagittis.</p>
    <p>Integer blandit velit nec sem pretium viverra. Donec vitae consectetur ante. Etiam faucibus scelerisque aliquet. Suspendisse porttitor iaculis orci, ut dapibus nisl scelerisque aliquam. Duis posuere, quam vehicula malesuada auctor, metus risus.Donec vitae consectetur ante. Etiam faucibus scelerisque aliquet. Suspendisse porttitor iaculis orci, ut dapibus nisl scelerisque aliquam. Duis posuere, quam vehicula malesuada auctor, metus risus.
    </p>
  </div>
  <div class="column col-xs-12 col-md-6 col-md-offset-1">
    <p><img class="SeattleReveal" src="/assets/_img/store_seattle.jpg"></p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5 col-md-offset-1">
    <p><img class="SeattleFrontDoor" src="/assets/_img/story_frontdoor.jpg"></p>
    <p><img class="SeattlePeterEating" src="/assets/_img/story_petereating.jpg"></p>
  </div>
  <div class="column col-xs-12 col-md-5 SeattleRevealText">
    <p>
    Originally built as the owner’s office, this treetop niche quickly became the most exclusive table in Seattle. The Caché is an entirely private, intimate room on the 2nd floor of our restaurant with spectacular views across Lake Union and the Cascade Mountains. Amenities include a telescope, sound system, and chaise lounge.</p>
    <p>A room rental charge of $150 applies.Originally built as the owner’s office, this treetop niche quickly became the most exclusive table in Seattle. The Caché is an entirely private, intimate room on the 2nd floor of our restaurant with spectacular views across Lake Union and the Cascade Mountains. Amenities include a telescope, sound system, and chaise lounge.
    A room rental charge of $150 applies.</p>
    <p>Originally built as the owner’s office, this treetop niche quickly became the most exclusive table in Seattle. The Caché is an entirely private, intimate room on the 2nd floor of our restaurant with spectacular views across Lake Union and the Cascade Mountains. Amenities include a telescope, sound system, and chaise lounge.
    A room rental charge of $150 applies.
    </p>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5 SeattleRevealText">
    <p class="SeattleEndText">
    Originally built as the owner’s office, this treetop niche quickly became the most exclusive table in Seattle. The Caché is an entirely private, intimate room on the 2nd floor of our restaurant with spectacular views across Lake Union and the Cascade Mountains. Amenities include a telescope, sound system, and chaise lounge.</p>
    <p>A room rental charge of $150 applies.Originally built as the owner’s office, this treetop niche quickly became the most exclusive table in Seattle. The Caché is an entirely private, intimate room on the 2nd floor of our restaurant with spectacular views across Lake Union and the Cascade Mountains. Amenities include a telescope, sound system, and chaise lounge.
    A room rental charge of $150 applies.</p>
  </div>
  <div class="column col-xs-12 col-md-5 col-md-offset-1">
    <p><img class="SeattleMiddle" src="/assets/_img/story_02.jpg"></p>
    <p><img class="SeattleEnd" src="/assets/_img/story_peterposed.jpg"></p>
  </div>
</div>
{% include footer.html %}





