{% include head.html %}
<div class="row">
  <div class="column col-xs-12 col-md-5 col-md-offset-2">
    <h1 class="mb10 Display1 WineHeadline">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;98&nbsp;awards,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18,000&nbsp;bottles,&nbsp;
2,500&nbsp;selections,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&&nbsp;5&nbsp;sommeliers
    </h1>
  </div>
</div>
<div class="BigPlaceholderSection Large">
  <p class="Caption">Wine & sommeliers</p>
</div>
<div class="BigPlaceholderSection Large">
  <p class="Caption">Bar & Cocktails</p>
</div>
{% include footer.html %}